.note-details-dialog {
  margin: auto;
  border-radius: 16px;
  padding: 16px;
  border: 1px solid var(--color-fuchsia-700);
  max-block-size: min(80vh, 100%);
  min-inline-size: 60ch;
  max-inline-size: min(90vw, 60ch);
  overflow: hidden;
}

.note-details-dialog:focus {
  outline: none;
}

.note-details-dialog--title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 4px;
}

.note-details-dialog--created-date {
  font-size: 14px;
  display: block;
  margin-bottom: 8px;
}

.note-details-dialog--body {
  font-size: 16px;
  margin-bottom: 8px;
}

.note-details-dialog--body:focus,
.note-details-dialog--title:focus {
  outline: none;
}
