.note-empty {
  text-align: center;
}

.note-list {
  list-style: none;
  padding-inline: 0;
}

.note + .note {
  margin-top: 8px;
}

.note {
  padding: 8px 16px;
  border: 1px solid var(--color-fuchsia-700);
  border-radius: 8px;
}

.note--title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 4px;
}

.note--created-date {
  font-size: 14px;
  margin-bottom: 8px;
  display: block;
}

.note--body {
  font-size: 16px;
  margin-bottom: 8px;
}
