.note-empty {
  text-align: center;
}

.note-list {
  list-style: none;
  padding-inline: 0;
  display: grid;
  gap: 8px;
}

@media (min-width: 640px) {
  .note-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 960px) {
  .note-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1280px) {
  .note-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.note {
  padding: 8px 16px;
  border: 1px solid var(--color-fuchsia-700);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.note--title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 4px;
}

.note--link {
  color: black;
  text-decoration: none;
}

.note--link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.note--created-date {
  font-size: 14px;
  display: block;
}

.note--body {
  font-size: 16px;
  flex-grow: 1;
}
