.note-empty {
  text-align: center;
}

.note-list {
  list-style: none;
  padding-inline: 0;
  margin: 0 auto;
  --column-count: 1 !important;
}

@media (min-width: 640px) {
  .note-list {
    --column-count: 2 !important;
    max-width: calc(640px - 32px);
  }
}

@media (min-width: 960px) {
  .note-list {
    --column-count: 3 !important;
    max-width: calc(960px - 32px);
  }
}

@media (min-width: 1280px) {
  .note-list {
    max-width: calc(1280px - 32px);
    --column-count: 4 !important;
  }
}

.note {
  padding: 8px 16px;
  border: 1px solid var(--color-fuchsia-700);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.note:hover {
  transform: translateY(-4px);
  box-shadow: 0px 8px 16px -8px var(--color-fuchsia-700);
}

.note:active {
  box-shadow: 0px 8px 16px -4px var(--color-fuchsia-700);
}

.note--title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 4px;
}

.note--link {
  color: black;
  text-decoration: none;
}

.note--link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.note--created-date {
  font-size: 14px;
  display: block;
}

.note--body {
  font-size: 16px;
  flex-grow: 1;
}
