.add-note-dialog {
  margin: auto;
}

.add-note-dialog--title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}

.add-note-dialog--label,
.add-note-dialog--input {
  display: block;
}

.add-note-dialog--label {
  font-size: 14px;
}

.add-note-dialog--input {
  font-size: 16px;
  appearance: none;
  border: 1px solid var(--color-zink-400);
  padding: 4px 8px;
}

.add-note-dialog--input:focus {
  outline: none;
  border-color: var(--color-rose-500);
}

.add-note-dialog--label + .add-note-dialog--input {
  margin-top: 4px;
}

.add-note-dialog--input + .add-note-dialog--label {
  margin-top: 8px;
}

.add-note-dialog--buttons {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 8px;
}
