.app-main {
  margin-bottom: 72px;
  padding: 8px 16px;
}

html:has(dialog[open]) {
  overflow: hidden;
}

dialog {
  animation: dialog-close 0.25s ease-in-out;
}

dialog[open] {
  animation: dialog-open 0.25s ease-in-out;
}

@keyframes dialog-open {
  0% {
    transform: scaleY(0);
    display: none;
  }

  100% {
    transform: scaleY(1);
    display: block;
  }
}

@keyframes dialog-close {
  0% {
    transform: scaleY(1);
    display: block;
  }

  100% {
    transform: scaleY(0);
    display: none;
  }
}
