:root {
  --color-zink-200: #e4e4e7;
  --color-zink-300: #d4d4d8;
  --color-zink-400: #a1a1aa;
  --color-zink-500: #71717a;
  --color-red-500: #ef4444;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;
  --color-rose-500: #f43f5e;
  --color-rose-700: #be123c;
  --color-rose-800: #9f1239;
  --color-rose-300: #fda4af;
  --color-green-500: #22c55e;
  --color-green-600: #16a34a;
  --color-green-700: #15803d;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat Variable", sans-serif;
}

main {
  padding: 8px 16px;
}

.app-fab {
  outline: none;
  appearance: none;
  border: none;
}

.app-fab {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: var(--color-green-500);
  color: white;
  cursor: pointer;
}

.app-fab:hover {
  background-color: var(--color-green-600);
}

.app-fab:active {
  background-color: var(--color-green-700);
}
